<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta http-equiv="cache-control" content="max-age=7200" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/syntax.css">
			<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
			<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
			<script src="https://rawgit.com/evanplaice/jquery-csv/master/src/jquery.csv.js"></script>
			<script src="/script/plot.js"></script>
			<script async src="https://code.highcharts.com/highcharts.js"></script>
			<script async src="https://code.highcharts.com/modules/exporting.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gregerlars@gmail.com">email</a></li>
	        		<li><a href="https://github.com/lavrans">github.com/lavrans</a></li>
				</ul>
			</footer>
		</body>
	</html>
